/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.6;
  /* ADD the Google sans-serif font to this font stack */
  font-family: 'Julius Sans One', Helvetica, 'sans serif';
}

html,
body {
  background-color: #423021;
}

html a {
  color: #4C2A0D;
}

h1 {
  font-size: 6.854rem;
  /* ADD the Google serif font to this font stack */
  font-family: 'Crimson Text', 'Times New Roman', serif;
  padding: 1rem 2rem;
}

h2 {
  font-size: 4.23rem;
  /* ADD the Google serif font to this font stack */
  font-family: 'Crimson Text', 'Times New Roman', serif;
  padding: 1rem 2rem;
}

nav li {
  font-size: 2.618rem;
}

p {
  font-size: 1.618rem;
  padding: 1rem 2rem;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
  background-color: #BD895D;
  color: #423021;
}

header {
  border-bottom: 0.8rem solid #292415;
  background-color: #4C2A0D;
  color: #FFEEDF;
}

.menu-h {
  width: 100%;
  float: left;
  margin-top: 10px;
  text-align: center;
}

.menu-h li {
  display: inline;
  list-style: none;
  width: 20% !important;
  float: left;
}

.menu-h a,
.menu-h a:link,
.menu-h a:visited {
  padding: 15px 0px;
  float: left;
  width: 100%;
  text-decoration: none;
}

.menu-h a:hover,
.menu-h a:active {
  box-shadow: 5px 5px 20px #000;
  border-radius: 5px;
  background-color: #FFB97D;
}

.menu-v {
  width: 20%;
  float: left;
  margin-top: 30px;
}

.menu-v li {
  list-style: none;
  width: 100%;
}

.menu-v a,
.menu-v a:link,
.menu-v a:visited {
  width: 100%;
  float: left;
}

.menu-v a:hover,
.menu-v a:active {
  background-color: #423021;
  color: #FFB97D;
}

main {
  width: 80%;
  float: right;
}

footer {
  clear: both;
}
